<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">About</h1>
  </div>
  
  <img src="img/picture.webp" alt="Laptop" width="473" height="316">
  <h1>Welcome to my first project</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et tempore cupiditate commodi animi officia inventore ut fuga minus recusandae, quas aliquid veritatis accusamus nisi laborum placeat a culpa quo corrupti?</p>
  